*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: TTLakes, Sans-serif, Arial, serif;
    margin: 0;
    padding: 0;
}
.left-aside__header{
    display: flex;
    align-items: center;
}
.left-aside{
    width:320px;
    height:100vh;
    position: relative;
    left: 0;
    box-shadow:
            16px 0 52px 0 rgba(14, 24, 80, 0.2),
            -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    padding: 20px 25px 20px 20px;
    
}
.circle{
    height: 40px;
    min-width: 40px;
    background-color:#FF3E79 ;
    border-radius: 20px;
    border:none;
}

.circle:hover{
    opacity: 50%;
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.left-aside__button-logo{
    display: flex;
    align-items: center;
}
.left-aside__burger-button{
    background-image: url(./img/icon.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;

}
.left-aside__logo-img{
    margin-right: 75px;
    width:97px;
    height: 51px;
}
.left-aside__search-button{
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: center;
}





.left-aside__nav{
    margin-top:50px;
}

.left-aside__nav ul{
    list-style: none;
}

.left-aside__nav li{
    line-height: 50px;
}

.left-aside__nav-item:hover::before{
    content:url(./img/turquoise.png);
    position: fixed;
    left: 0;
}
.left-aside__nav-item:hover{
   color: #7E7E82;
   transform: scale(2);
}
a{
    text-decoration: none;
    color: #1B1C21;
}



.left-aside__footer{
    position: fixed;
    bottom:0;
    padding-bottom: 30px;
}
.left-aside__button--call{
    background-image: url(./img/phone.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.left-aside__button--chat{
    background-image: url(./img/chat.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.left-aside__button--profile{
    background-image: url(./img/profile.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.left-aside__footer-button{
    display: flex;
    gap: 15px;
}
.left-aside__mail{
    font-size: 16px;
    color: #1B1C21;
    font-family: TTLakes Condensed-Medium;
    font-weight: 400;
    margin-top: 16px;
}
.left-aside__number{
    font-size: 20px;
    font-weight: 600;
    font-family:TTLakes Compressed-Bold;
    margin-top: 12px;
}

.left-aside__lang{
    margin-top: 20px;
}

.left-aside__lang-btn{
    border: none;
    background-color: white;
    cursor: pointer;
}

.left-aside__lang-btn:hover{
    color:#7E7E82

}



.call-modal{
    position: fixed;
    width: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:#FFFFFF;
    transform: translateX(400px);
    width: 320px;
    overflow: hidden;
    opacity: 0;
    z-index: 2;
}

.call-modal--open{
    overflow: visible;
    opacity: 1;
}


.call-modal__main{
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    position: relative;
    height: 100vh;
    right: 0;
}




.call-modal__button-close{
    margin: 20px 0 0 20px;
    background-image: url(./img/icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.call-modal__title{
    display: flex;
    align-items: center;
    gap:15px;
    margin-top: 30px;
}
.call-modal__line{
   background-image: url(./img/turquoise.png);
   background-repeat: no-repeat;
   width: 3px;
   height: 40px;
      
}

.call-modal__text{
    font-family: TTLakes;
    line-height: 32px;
    font-size: 28px;
    
}

.call-modal__container{
    padding: 20px;
}

.call-modal__input--small{
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    width: 288px;
    height: 48px;
}

.call-modal__input--small::placeholder{
    font-size: 16px;
    line-height: 24px;
    color: #B5B6BC;
    transform: translateX(10px);

}


.call-modal__personal-data{
    margin-top: 20px;
    font-family: TTLakes;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    color: #7E7E82;
    
}

.call-modal__personal-data a{
    cursor: pointer;
    color: #FF3E79;
}

.call-modal__button-send{
    border: none;
    border-radius: 50px;
    text-align: center;
    background-color: #FF3E79;
    background-image: url(./img/send.svg);
    background-repeat: no-repeat;
    background-position: 115px center;
    color: white;
    width: 136px;
    height: 32px;
    transform: translate(140px, 15px);
    font-family: TTLakes;
    font-size: 12px;
    cursor: pointer;

}


@media (min-width:768px) {
    .call-modal{
        margin-left: 100px;
    }
    .call-modal__main{
        width: 440px;
        position: fixed;
    }
    .call-modal__button-close{
        position: absolute;
        left:-80px;
    }

    .call-modal__input--small{
        width: 376px;
    }
    .call-modal__button-send{
        transform: translate(240px, 15px);
    }








        
    
    .feedback-modal{
        display: none;
    }

}